version: "3.7" 
services:

  app:
    build:
      args:
        user: patrick
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: team-up-app
    container_name: team-up-app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks: 
      - teamup

  nginx:
    image: nginx:alpine
    container_name: team-up-nginx
    restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d
    networks:
      - teamup

  db:
    image: mysql:8
    container_name: team-up-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: teamup_db
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_PASSWORD: 1234
      MYSQL_USER: teamup
    networks:
      - teamup


networks: 
  teamup:
    driver: bridge